{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="2700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    

</head>


<body>
<div id="my-container" class="banner-container" style="display: flex; line-height: 3em; align-items: center; font-family: 'Staatliches'; background-color: rgb(255,255,255,0.8);
        font-size: 1em; color: #000000">
    <img width="128px" height="128px" class="banner-img" style="border-radius:50%; vertical-align: center" src="https://discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png">
    <div class="banner-name" style="font-size: 4em">
    </div>
    <div style="font-size: 1.5em; margin: 0 50px; line-height: 1.0em">
        <div>Member Since</div>
        <div>Current Win Streak:</div>
        <div>Longest Streak:</div>
    </div>
    <div style="font-size: 1.5em; line-height: 1.0em">
        <div class='member-since'>Member Since</div>
        <div class="current-streak">Current Win Streak:</div>
        <div class="longest-streak">Longest Streak:</div>
    </div>
</div>
<div id='my-banner' class="stats-banner" style="font-family: 'Staatliches'; background-color: rgb(0,0,255,0.5);font-size:2em; color: #ffffff">
    <span class="stats"></span></div>
</body>
</html>
<script type="text/javascript">
    async function animateCss(element, animationName, callback) {
        node = document.querySelector(element)
        node.classList.add('animated', animationName)

        function handleAnimationEnd() {
            node.classList.remove('animated', animationName)
            node.removeEventListener('animationend', handleAnimationEnd)

            if (typeof callback === 'function') callback()
        }

    node.addEventListener('animationend', handleAnimationEnd)
    }
  
    async function doTheThing() {
        const sleep = { then(_) {
            animateCss('div.banner-container', 'bounceInLeft', function(){});


            setTimeout(_, 5000); } };
        var mc = document.getElementById("my-container");
        var mb = document.getElementById("my-banner");
        const img = document.getElementsByClassName("banner-img");
        const name = document.getElementsByClassName('banner-name');
        const stats = document.getElementsByClassName('stats');
        const member_since = document.getElementsByClassName('member-since');
        const current_streak = document.getElementsByClassName('current-streak');
        const longest_streak = document.getElementsByClassName('longest-streak');
        for (const { fields } of Object.values(JSON.parse("{{players_js|escapejs}}"))) {

            ds = fields.date_joined;
            js_date = new Date(ds).toLocaleDateString("en-US")
            img[0].src = fields.discord_avatar_url;
            stats[0].innerHTML = "Ranked #" + fields.stats_ranking + " in Current Matchup";
            name[0].innerHTML = fields.display_name + " (" + fields.stats.wins + "-" + fields.stats.losses + "-" + fields.stats.draws + ")";
            member_since[0].innerHTML = js_date;
            current_streak[0].innerHTML = fields.current_win_streak;
            longest_streak[0].innerHTML = fields.longest_win_streak;
            //animateCss('div.banner-container', 'bounceOutLeft', function(){});
            animateCss('div.stats-banner', 'bounceInRight', function (){});
            await sleep;


            //animateCss('div.banner-container', 'bounceInLeft', function(){});
            //animateCss('div.stats-banner', 'bounceOutRight', function (){});
        }
        mc.parentNode.removeChild(mc);
        mb.parentNode.removeChild(mb);
    }
    doTheThing();



    
</script>