{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2700" />
    <title>About Streamer</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
</head>
<body>

<div id="about-streamer">
    <div id="banner">
        <img id="avatar" src="{{ streamer.discord_avatar_url }}"/></div>
    <div id="content">
    <h1 class="text-focus-in"> Streamed by {{ streamer.display_name }} </h1>
        <hr>
    <h3> ZCLEAGUES.COM - Join Today!</h3>
    </div>

</div>
</body>
<script type="text/javascript" src="{% static 'js/about.js' %}"></script>
</html>