{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/ending.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="endScreen" class="container-fluid dofade" style="width: 1920px; height: 1080px; display: inline-flex">
            <div style="width: 100%; height: 100%; background-image: url({% static 'img/ghost.jpg' %}); position:absolute; background-repeat: no-repeat" class="kenburns-top-right"></div>
            <div style="background-color: rgba(242,242,242,.75); animation-delay: 1s; display: block; height: 100%; width: 40%; background-color: #ececec; padding: 50px 100px 100px 50px; align-content: center" class="animated fadeInLeft">
                <div style="animation-delay: 2.5s;" class="animated fadeInDown">
                    <h1 style="font-family: 'Courier New'; font-size: 4em; letter-spacing: .2em">ZCLEAGUES.COM</h1>
                    <h1 style="font-family: 'Permanent Marker'; font-size: 5em; letter-spacing: .1em">Match Ended</h1>
                    <hr class="animated bounceInLeft" style="animation-delay: 3s">
                </div>
                <div class="ar ar1 animated bounceInDown">
                    <div>Winners</div>
                    <div class="winners">{{ winners }}</div>
                </div>
                <div class="ar ar2 animated bounceInDown">
                    <div>Season</div>
                    <div class="winners">{{ season }}</div>
                </div>
                <div class="ar ar3 animated bounceInDown">
                    <div>League</div>
                    <div class="winners">{{ league }}</div>
                </div>
                <div id="next" class="animated pulse infinite nextmatch">
                    <center>Queueing Next Match...</center>
            </div>
            </div>


            <div style="display: inline-flex; height: 100%; width: 60%;">

                    <div>sadgadsgsadg</div>
                    <div> gsagsag</div>
                </div>



            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/ending.js' %}"></script>
</html>
