{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/waiting.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
<div id="waitingScreen" class="container-fluid dofade" style="width: 1920px; height: 1080px; display: inline-flex">
    <div style="width: 100%; height: 100%; background-image: url({% static 'img/ghost.jpg' %}); position:absolute; background-repeat: no-repeat"
         class="kenburns-top-right"></div>
    <div class="animated fadeInLeft waiting-container">
        <div style="animation-delay: 2.5s; display: inline-flex" class="animated fadeInDown">
            <div style="width: 70%">
                <h1 class="wiggle-animation">Waiting For Game ...</h1>
            </div>
            <div style="width: 30%">
                <div class="card mb-1" style="max-width: 20rem;" align="center">
                    <div class="card-header">Hosted by<br> <strong>{{ player.display_name }}</strong></div>
                    <div class="card-body" align="center">
                        <section class="row no-gutters align-items-center">
                            <div>
                                <p>
                                    {% if player.discord_avatar_url %}
                                        <img class="img-fluid rounded-circle" src="{{ player.discord_avatar_url }}"
                                             align="center"/>
                                    {% else %}
                                        <img class="img-fluid rounded-circle"
                                             src="https://cdn.discordapp.com/embed/avatars/1.png" align="center"/>
                                    {% endif %}
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <hr class="animated bounceInLeft" style="animation-delay: 3s">
            </div>
        </div>

        <div class="animated bounceInDown ar ar1">
            <h3> Checkins</h3>
            <div id="checkins" class="checkins"></div>
        </div>
        <div class="animated bounceInDown ar ar2">
            <h3>Previous Winners</h3>
            <table class="table table-light">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Wins</td>
                    <td>Losses</td>
                    <td>Draws</td>
                    <td>Win %</td>
                </tr>
                </thead>
                <tbody>
                {% for w in winners %}

                    <tr>
                        <th>{{ w.name }}</th>
                        <td>{{ w.wins }}</td>
                        <td>{{ w.losses }}</td>
                        <td>{{ w.draws }}</td>
                        <td>{{ w.win_rate|floatformat:"1" }}%</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <span>Stats are for All Seasons, All Leagues</span>
        </div>
        <div class="animated bounceInDown ar ar3">
            <h3>Today's Games</h3>


            <table class="table table-light table-sm">
                <thead>
                <tr>
                    <td>Game</td>
                    <td>Players</td>
                </tr>
                </thead>
                <tbody>
                {% for m in matches %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.match_players }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div style="display: inline-flex; height: 100%; width: 60%;">

        </div>


    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var status = "{{ status }}";
    var myContainer = document.getElementById('waitingScreen');
    if (status == 'in progress') {
        myContainer.style.display = "none";
    }
</script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/waiting.js' %}"></script>
</html>
