{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/zc4web.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Title</title>
    <script type="text/javascript">

    </script>
</head>
<body>
<div class="container-fluid" style="width: 1920px; height: 1080px">
    <div id="test" style="background-color: #313940; width: 100%; height: 100%">
        <div class="jumbotron">
            <h1 class="display-3">Waiting For Game</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Top Leaderboard Rankings</h2>
                <table class="table table-hover animated fadeInUp">
                    <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">ELO</th>
                        <th scope="col">Games</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Win %</th>


                    </tr>
                    </thead>
                    <tbody>

                    {% for p in leaderboard %}
                        <tr class="table-primary">
                            <th scope="row">{{ p.rank }}</th>
                            <td>{{ p.player_name }}</td>
                            <td>{{ p.elo|floatformat:"0" }}</td>
                            <td>{{ p.games }}</td>
                            <td>{{ p.wins }}</td>
                            <td>{{ p.losses }}</td>
                            <td>{{ p.win_rate|floatformat:"1" }}%</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
            <div class="col-md-8">
                <h2>Currently Checked In</h2>
                <div id="checkins" style="display: inline-flex; margin: 0 20px">
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/waiting.js' %}"></script>
</body>
</html>