{% extends 'home.html' %}

{% block content %}
<h1> Match Details</h1>
    <h3>{{ match.created }}</h3>
    <h3>{{ league }}</h3>
    <h3>{{ tournament }}
    {% if match.tournament %}
    Game #{{ game_number }}
    {% endif %}
    </h3>
<div class="card-deck">
{% for t in match.teams.all %}
{% if t == match.winning_team %}
<div class="card border-success mb-3" style="max-width: 20rem;">
    {% else %}
<div class="card border-primary mb-3" style="max-width: 20rem;">
    {% endif %}
  <div class="card-header">Team</div>
  <div class="card-body">

    <table border="0" cellpadding="10" height="100%">



  {% for p in t.players.all %}
        <tr>
        <td>

          <section class="row no-gutters align-items-center">
          <div class="col-lg-12 text-center p-0 d-flex align-items-end">

              <p>
                  {% if p.discord_avatar_url %}
                  <a href="{% url 'stats-detail' p.id %}?tournament={{ match.tournament.id }}"><img class="img-fluid rounded-circle" src="{{ p.discord_avatar_url }}" align="center"/></a>
                    {% else %}
                      <a href="{% url 'stats-detail' p.id %}?tournament={{ match.tournament.id }}"><img class="img-fluid rounded-circle" src="https://cdn.discordapp.com/embed/avatars/1.png" align="center"/></a>
                    {% endif %}
                      <h5 class="card-title w-100 position-absolute my-auto"
          style="background: rgb(170,187,97); background: rgba(200,200,200,0.8); color: #000000">
          <a href="{% url 'stats-detail' p.id %}?tournament={{ match.tournament.id }}" style="color: #000000;">{{ p.display_name }}</a></h5></p>
      </div>
      </section>

              </td>
    </tr>
  {% endfor %}

    </table>
  </div>
</div>
{% endfor %}
</div>
<a href="javascript:history.go(-1)">Go Back</a>
{% endblock %}
