{% extends 'home.html' %}
{% load staticfiles %}
{% block content %}
   <style type="text/css">
        .jumbotron {
            margin-top: 20px;
            background-image: url("{% static 'img/marine.png' %}");
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.9) 100%), url("{% static "img/marine.png" %}");
            background-size: cover;
            color: #ffffff;

        }
   </style>




    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

  <div class="jumbotron">
      <h1 class="display-3">Join The Discord</h1>
      <p class="lead">ZC Leagues is a community dedicated to improving play, organizing matches and most importantly... having fun.</p>
      <hr class="my-4">
      <p>We are over 230 members strong and growing.
        <ul>
            <li> Casted and Streamed Matches on Saturdays</li>
            <li> Multiple Leagues for competitive play at different skill levels</li>
            <li> Coaches sessions and one on one work on game mechanics</li>
            <li> All the features of discord such as Voice and channels for arranged matches</li>
            <li> Global CE Leaderboard and stat tracking</li>
        </ul>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://discord.gg/7xr5sZq" role="button" target="_blank">Join Now!</a>
      </p>
   </div>
    <div id="twitch-embed"></div>
    {% if events %}
        <h1> Upcoming Events</h1>
        {% for event in events %}
            <div class="card border-secondary mb-3">
            <div class="card-header">{{ event.title }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ event.event_schedule }}</h4>
                <p class="card-text">{{ event.description }}.</p>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <h1> Events posting up soon!</h1>
    {% endif %}


        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 1100,
        height: 480,
        channel: "zcleagues"
      });
    </script>


{% endblock %}