{% extends 'home.html' %}
{% block content %}
    <h1> {{ player.display_name }}</h1>
    <h2>All Time Ranked Stats</h2>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Matches</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Draws</th>
      <th scope="col">Win %</th>
    </tr>
  </thead>
  <tbody>

        <tr class="table-primary">
            <th scope="row"> Ranked</th>
            <td>{{ lifetime_stats_ranked.count }} </td>
            <td> {{ lifetime_stats_ranked.wins }}</td>
            <td> {{ lifetime_stats_ranked.losses }}</td>
            <td> {{ lifetime_stats_ranked.draws }}</td>
            <td> {{ lifetime_stats_ranked.ratio|floatformat }}</td>
        </tr>
  </tbody>
</table>

    {% for name, val in leagues.items %}
        <h2> {{ name }}</h2>
         <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Matches</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">Draws</th>
              <th scope="col">Win %</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>

                <tr class="table-primary">
                    <th scope="row"> Totals</th>
                    <td>{{ val.stats.count }} </td>
                    <td> {{ val.stats.wins }}</td>
                    <td> {{ val.stats.losses }}</td>
                    <td> {{ val.stats.draws }}</td>
                    <td> {{ val.stats.ratio|floatformat }}</td>
                     <td> {{ val.stats.points }}</td>
                </tr>

          {% for tname, tstats in val.teams.items %}
               <tr class="table-primary">
                    <th scope="row"> {{ tname }}</th>
                    <td>{{ tstats.count }} </td>
                    <td> {{ tstats.wins }}</td>
                    <td> {{ tstats.losses }}</td>
                    <td> {{ tstats.draws }}</td>
                    <td> {{ tstats.ratio|floatformat }}</td>
                    <td> {{ tstats.points }}</td>
                </tr>
          {% endfor %}
          </tbody>
         </table>

    {% endfor %}
{% endblock %}