{% extends 'home.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Matches</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Draws</th>
      <th scope="col">Win %</th>
        <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    {% for league, val in leagues.items %}
        <tr>
            <th scope="col"><h3>{{ league }}</h3></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
        <th scope="col"></th>
    </tr>
        {% for item in val %}
        <tr class="table-primary">
            <th scope="row"><a href="{% url 'stats-detail' item.player.id %}">{{ item.player.display_name }}</a></th>
            <td>{{ item.stats.count }} </td>
            <td> {{ item.stats.wins }}</td>
            <td> {{ item.stats.losses }}</td>
            <td> {{ item.stats.draws }}</td>
            <td> {{ item.stats.ratio|floatformat }}</td>
            <td> {{ item.stats.points }} </td>
        </tr>
            {% endfor %}
    {% endfor %}
  </tbody>
</table>



{% endblock %}