{% extends 'home.html' %}
{% block content %}
    <p></p>
    <div class="card border-primary mb-3" style="max-width: 20rem;" align="center">
    <div class="card-header">Member since {{ player.date_joined|date:"M d, Y" }}</div>
  <div class="card-body" align="center">
    <section class="row no-gutters align-items-center">
      <div class="col-lg-12 text-left p-0 d-flex align-items-end">
          <p>
              {% if player.discord_avatar_url %}
              <img class="img-fluid rounded-circle" src="{{ player.discord_avatar_url }}" align="center"/>
          {% else %}
          <img class="img-fluid rounded-circle" src="https://cdn.discordapp.com/embed/avatars/1.png" align="center"/>
    {% endif %}
      <h1 class="card-title w-100 position-absolute my-auto"
          style="background: rgb(170,187,97); background: rgba(200,200,200,0.8); color: #000000">
         {{ player.display_name }}</h1></p>
      </div>
      </section>
  </div>
    </div>





    <h2>All Time Ranked Stats</h2>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Matches</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Draws</th>
      <th scope="col">Win %</th>
    </tr>
  </thead>
  <tbody>

        <tr class="table-primary">
            <th scope="row"> Ranked</th>
            <td>{{ lifetime_stats_ranked.count }} </td>
            <td> {{ lifetime_stats_ranked.wins }}</td>
            <td> {{ lifetime_stats_ranked.losses }}</td>
            <td> {{ lifetime_stats_ranked.draws }}</td>
            <td> {{ lifetime_stats_ranked.ratio|floatformat }}</td>
        </tr>
  </tbody>
</table>
    <form method="get">
    {{ form }}
    <button type="submit" class="btn btn-primary">Go!</button>
    </form>

    {% for name, val in leagues.items %}
        <h2> {{ name }} - {{ tournament }}</h2>
         <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Wins</th>
            </tr>
          </thead>
        <tbody>
        <tr>
            <td>Current Win Streak</td>
            <td>{{ val.current_win_streak }}</td>
        </tr>
        <tr>
            <td>All Time Win Streak</td>
            <td>{{ val.all_time_win_streak }}</td>
        </tr>
        </tbody>

         <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Team Alignments</th>
              <th scope="col">Matches</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">Draws</th>
              <th scope="col">Win %</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>

                <tr class="table-primary">
                    <th scope="row"> Totals</th>
                    <td>{{ val.stats.count }} </td>
                    <td> {{ val.stats.wins }}</td>
                    <td> {{ val.stats.losses }}</td>
                    <td> {{ val.stats.draws }}</td>
                    <td> {{ val.stats.ratio|floatformat }}</td>
                     <td> {{ val.stats.points }}</td>
                </tr>

          {% for tname, tstats in val.teams.items %}
               <tr class="table-primary">
                    <th scope="row"> {{ tname }}</th>
                    <td>{{ tstats.count }} </td>
                    <td> {{ tstats.wins }}</td>
                    <td> {{ tstats.losses }}</td>
                    <td> {{ tstats.draws }}</td>
                    <td> {{ tstats.ratio|floatformat }}</td>
                    <td> {{ tstats.points }}</td>
                </tr>
          {% endfor %}
          </tbody>
         </table>
        <h4> Match Summary</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">id</th>
              <th scope="col">Date</th>
              <th scope="col">Teams</th>
              <th scope="col">Outcome</th>
              <th scope="col">Stream</th>
            </tr>
          </thead>
          <tbody>
            {% for m, outcome in val.matches %}
                  {% if outcome == 'WIN' %}
                      <tr class="table-secondary" data-href="{% url 'match-detail' m.id %}">
                      {% elif outcome == 'LOSS' %}
                          <tr class="table-primary" data-href="{% url 'match-detail' m.id %}">
                       {% else %}
                           <tr class="table-primary" data-href="{% url 'match-detail' m.id %}">
                       {% endif %}

                  <th scope="col"></th>
            <th scope="col">{{m.id }}</th>
                  <th scope="col">{{ m.created }}</th>
                  <th scope="col">{{ m }}</th>
                  <th scope="col"> {{ outcome }}
                  </th>
                  <th scope="col">
                      {% if m.stream_url %}
                        <a href="{{ m.stream_url }}" target="_blank">
                           YES
                          </a>
                      {% else %}
                        NO
                      {% endif %}
                  </th>
                </tr>
          {% endfor %}
          </tbody>
        </table>

    {% endfor %}
{% endblock %}