{% extends 'home.html' %}

{% block content %}
    <form method="get">
    {{ form }}
    <button type="submit" class="btn btn-primary">Go!</button>
    </form>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Matches</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Draws</th>
      <th scope="col">Win %</th>
        <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
  {% for league, vals in data.items %}
    <tr>
        <th scope="col"><h3>{{ league }} - {{ tournament }}</h3></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>

        {% for o in vals %}
        <tr class="table-primary" data-href="{% url 'stats-detail' o.player.id %}?tournament={{ tournament.id }}">
            <th scope="row">{{ o.player.display_name }}</th>
            <td>{{ o.count }}</td>
            <td>{{ o.wins }}</td>
            <td>{{ o.losses }}</td>
            <td>{{ o.draws }}</td>
            <td>{{ o.ratio|floatformat:1 }}%</td>
            <td> {{ o.points }}</td>
        </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>



{% endblock %}