{% extends 'home.html' %}
{% load staticfiles %}
{% block content %}
    <div align="center">
    <h1> Setup your computer for Streaming</h1>
</div>
    <p></p>
    <div style="text-decoration: underline;">
    <h2>Set up OBS</h2></div>
    <h3>1. Get the scenes!</h3>
        <a href="https://zcleagues.s3-us-west-1.amazonaws.com/streaming/ZC_Overlays.json" target="_blank" download>
            <h4>Download Here!</h4>
    </a>

    <h3>2. Import into OBS</h3>
    <p> Choose <b>Scene Selection</b> -> <b>Import</b> <br>
    Then Choose your file and hit Import.
    </p>
    <p>
    <img src="https://zcleagues.s3-us-west-1.amazonaws.com/streaming/import.jpg">
    </p>

     <h3>3. Configure The Scenes</h3>
    <p> <b>Intro Scene -- </b><br>
        This is your scene to put your intro videos in. If you don't have one,
        its fine. Just leave it blank.
    </p>

    <p><b>Game & Overlays --</b><br>
        Where the magic happens. You will see the following <b>Sources</b></p>
    <ul>
    <li>Highlight Videos</li>
    <li>match_end</li>
    <li>alerter</li>
    <li>about-streamer</li>
    <li>waiting_for_game_overlay</li>
    <li>Starcraft Native</li>
    </ul>
    <p>
        For the <b>match_end, alerter, about-streamer, waiting_for_game_overlay</b> Sources: <br>
        Double click on the source. You will see the properties menu appear. Replace the <b>NUMBER PART ONLY</b> with
        your <b>discord identifier.</b> You can do this by right clicking your name in Discord and choosing
        <b>Copy ID</b>. <br>
        <img src="https://zcleagues.s3-us-west-1.amazonaws.com/streaming/discord_id.jpg">
        <img src="https://zcleagues.s3-us-west-1.amazonaws.com/streaming/source.jpg">



    </p>
    <p>  Don't worry about Highlight Videos. You can use a Replay Buffer and use
        this to show highlights of the games if you choose, but it is not required.</p>

    <p></p>
    <div style="text-decoration: underline;">
    <h2>Client Setup</h2></div>
<h3>1. Get the Match Client (Latest Version {{ matchcli_version }})</h3>
        <a href="{{ matchcli_download_url }}" target="_blank">
            <h4>Download Here!</h4></a>
        <p>This client is what monitors the game for the events and writes everything to
        our database. It enables us to send alerts, to record stats, etc.
        </p>
        <p>Unzip this client in a folder of your choice. It can be any folder as long as you have
             write permissions. If a security prompt opens saying DON'T RUN, you
            can click <b>More Info</b> and <b>Run Anyway</b>. We don't have it digitally signed yet.
        </p>
        <p>Enter in your Discord ID where prompted. Then Choose Browse and choose the directory that
        your bank file is in. ZC:CE is located in the <b>1-S2-1-4632373</b> folder.</p>
            <p>Click <b>Start Listening</b> and make sure you are on Team 5 observer in any ZC:CE game.</p>
        <img src="https://zcleagues.s3-us-west-1.amazonaws.com/streaming/client.jpg">

        <div style="text-decoration: underline;">
        <p></p>
    <h2>Use the Bot</h2></div>
        <p>Our Bot has some handy features for managing queues, and also auto-moving players into
            channels when the game runs as well as state management.</p>
        <p>You can use the following bot commands in any bot-enabled channel in our discord.
        <table border="1" cellpadding="10" cellspacing="10">
            <tr>
                <th>Command</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>,q prepare</td>
                <td>
                Prepares a queue with no role restrictions. You'll do this most of the time.
                </td>
            </tr>
            <tr>
                <td>,q pro</td>
                <td>
                Prepares a queue with Pro-Level restrictions.
                </td>
            </tr>
            <tr>
                <td>,q int</td>
                <td>
                Prepares a queue with Intermediate restrictions.
                </td>
            </tr>
            <tr>
                <td>,q uac</td>
                <td>
                Prepares a queue with Up & Coming restrictions.
                </td>
            </tr>
            <tr>
                <td>,q co @Player</td>
                <td>
                Checks out a Player from the Queue
                </td>
            </tr>
            <tr>
                <td>,q usr</td>
                <td>
                Unsets all restrictions
                </td>
            </tr>
            <tr>
                <td>,q swa</td>
                <td>
                Set if Winners Advance or Not
                </td>
            </tr>
            <tr>
                <td>,q ss @Player</td>
                <td>
                Advanced: Sets a streamer to another player. Don't do this if you don't know
                    what you are doing. If you set this to yourself this will refresh the websocket
                    connection to yourself.
                </td>
            </tr>
            <tr>
                <td>,q sts twitch_name</td>
                <td>
                Monitors twitch chat for that channel. This is NOT the full URL, just the name. For example twitch.tv/draconis184  is JUST draconis184.
                </td>
            </tr>
        <tr>
                <td>,q end</td>
                <td>
                Ends your Session
                </td>
            </tr>
        </table>
{% endblock %}