{% extends 'home.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Players</th>
      <th scope="col">League</th>

      <th scope="col">Replay</th>
      <th scope="col">Stream</th>
    </tr>
  </thead>
  <tbody>
    {% for m in matches %}
        <tr class="table-primary">
            <th scope="col">{{ m.created|date:'y/n/j P' }}</th>
            <th scope="col">{{ m.match_players }}</th>
            <td scope="col">{{ m.league }}</td>

            <td scope="col">
                {% if m.replay %}
                    <a href="{{ m.replay.url }}" target="_blank">Download</a>
                {% else %}
                    Unavailable
                {% endif %}
            </td>
            <td scope="col">
                {% if m.stream_url %}
                    <a href="{{ m.stream_url }}" target="_blank">Stream Now</a>
                {% else %}
                    Unavailable
                {% endif %}
            </td>


        </tr>
    {% endfor %}

{% endblock %}