{% load staticfiles %}
{% load cms_tags sekizai_tags %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
          <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131332144-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-131332144-1');
        </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZC Leagues - {% page_attribute "page_title" %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
              {% render_block "css" %}
  </head>

<body>
    <div class="container">
        {% cms_toolbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Zone Control Leagues</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://discord.gg/hyK4CGE" target="_blank">Join the Discord</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'stats' %}">Player Stats</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'pages-root' %}">Community Resources</a>
                    </li>
                  </ul>

                </div>
              </nav>
        {% placeholder "content" %}
        {% render_block "js" %}


    </div>

</body>
</html>

