{% load staticfiles %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131332144-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-131332144-1');
        </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zone Control 4</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/zc4web.css' %}">
      <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
      {% block header %}
      {% endblock %}

    <script type="text/javascript">
        jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
});



    </script>
    <style type="text/css">
        [data-href] {
            cursor: pointer;
        }
    </style>
  </head>

<body>
    <div class="container">
        {% block abovenav %}
        {% endblock %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Zone Control Leagues</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'discord-join' %}" target="_blank">Join the Discord</a>
                    </li>
                      <li class="nav-item">
                      <a class="nav-link" href="{% url 'streaming' %}">Become a Streamer</a>
                    </li>
                      <li class="nav-item">
                      <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'stats' %}">League Stats</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://www.youtube.com/channel/UCKEytOemGNqOjmbRCqzydXQ" target="_blank">YouTube (Past Streams) </a>
                    </li>

                  </ul>

                </div>
              </nav>
        {% block content %}
        {% endblock %}


    </div>

</body>
</html>

