{% extends 'home.html' %}

{% block content %}
<div class="alert alert-danger alert-dismissable" role="alert" align="center">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Are your records not up to date? Improve your accuracy by linking your bank file!</strong>
<br />
<a href="https://docs.google.com/document/d/1CQTUsIY_-Pruez5hUhdOLHjCKrFBWpANM1BHdFYFcak/edit" target="_blank">
    Click here for instructions!
</a>
</div>
<div style="width: 100%; display: inline-flex;">
    <form method="get" style="display: inline-flex">
        <input class="form-control" name="search" type="text"/>
        <button class="form-control btn btn-light" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            Search
        </button>
    </form>

    <div class="form-group" style="width: 10%">
        <form method="get">
            <button name="after" value="1h" class="form-control btn btn-light" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                Last Hour
            </button>

        </form>
    </div>
</div>





<p></p>
<div class="pagination">
    <span class="step-links">

         <a href="?page=1{% for k,v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}" class="btn btn-light">First  </a>
        {% for pg in page_range %}

            {% if current_page == pg %}
                <button class="btn btn-dark disabled">{{ pg }}</button>
            {% else %}
                <a href="?page={{ pg }}{% for k,v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}" class="btn btn-light">{{ pg }}</a>
            {% endif %}

        {% endfor %}
        <a href="?page={{ total_pages }}{% for k,v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}" class="btn btn-light">Last</a>
    </span>
</div>
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
         <th scope="col">ELO</th>
        <th scope="col">Games</th>
        <th scope="col">Wins</th>
        <th scope="col">Losses</th>
         <th scope="col">Win %</th>
        <th scope="col">Last Updated</th>


    </tr>
  </thead>
  <tbody>

{% for p in leaderboard %}
    <tr class="table-primary">
        <th scope="row">{{ p.rank }}</th>
        <td>{{ p.player_name }}</td>
        <td>{{ p.elo|floatformat:"0" }}</td>
        <td>{{ p.games }}</td>
        <td>{{ p.wins }}</td>
        <td>{{ p.losses }}</td>
        <td>{{ p.win_rate|floatformat:"1" }}%</td>
        <td>{{ p.updated|timesince }}</td>

    </tr>
{% endfor %}

  </tbody>
</table>
<div class="pagination">
    <span class="step-links">

         <a href="?page=1{% for k,v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}" class="btn btn-light">First  </a>
        {% for pg in page_range %}

            {% if current_page == pg %}
                <button class="btn btn-dark disabled">{{ pg }}</button>
            {% else %}
                <a href="?page={{ pg }}{% for k,v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}" class="btn btn-light">{{ pg }}</a>
            {% endif %}

        {% endfor %}
        <a href="?page={{ total_pages }}{% for k,v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}" class="btn btn-light">Last</a>
    </span>
</div>


{% endblock %}