{% extends 'home.html' %}

{% block content %}
<form method="get">
    {{ form }}
<button type="submit">Search</button>

</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Player</th>
      <th scope="col">Matches</th>
      <th scope="col">Wins</th>
      <th scope="col">Losses</th>
      <th scope="col">Draws</th>
      <th scope="col">Win %</th>
        <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    {% for h in handles %}
        <tr class="table-primary">
            <th scope="col">{{ h.rank }}</th>
            <th scope="col">{{ h.name }}</th>
            <td scope="col">{{ h.total_matches }}</td>
            <td scope="col">{{ h.wins }}</td>
            <td scope="col">{{ h.losses }}</td>
            <td scope="col">{{ h.draws }}</td>
            <td scope="col">{{ h.win_rate|floatformat:"1" }}%</td>
            <td scope="col">{{ h.points }}</td>
        </tr>
    {% endfor %}

{% endblock %}