{% extends 'home.html' %}

{% block content %}

    <p></p>
    <div class="card border-primary mb-3" style="max-width: 20rem;" align="center">
        <div class="card-header">
             Member since
            {% if profile %}{{ profile.date_joined|date:"M d, Y" }} <br>
            Character of {{ profile.display_name }}
        {% else %}
            {{ handle.created|date:"M d, Y" }}{% endif %}
        </div>
        <div class="card-body" align="center">
            <section class="row no-gutters align-items-center">
                <div class="col-lg-12 text-left p-0 d-flex align-items-end">
                    <p>
                        <img class="img-fluid rounded-circle" src="{{ avatar }}" align="center"/>
                    <h1 class="card-title w-100 position-absolute my-auto"
                        style="background: rgb(170,187,97); background: rgba(200,200,200,0.8); color: #000000">
                        {{ handle.name }}</h1></p>
                </div>
            </section>
        </div>
    </div>


{% endblock %}